extends layout

block content_body
  h1 Address Lookup
  br
  p Address: #{address}
  p Received: #{addrReceived}
  p Sent: #{addrSent}
  p Balance: #{addrBalance}
  p Time First Seen: #{addrAge}
  br
  br
  h1 Transaction Lookup
